<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_fragments :: head(~{::title})}">
    <title>404</title>
</head>
<body>
<!--导航栏-->
<nav th:replace="~{_fragments :: nav-top(0)}">
</nav>
<br>
<br>
<br>
<br>
<div class="m-container-small index-padded-massive">
    <div class="ui message error index-padded-massive">
        <div class="ui container">
            <h1>404</h1>
            <p>对不起，您访问的资源不存在</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<!--底部-->
<footer class="ui inverted vertical segment index-padded-massive" th:replace="~{_fragments :: footer}">
</footer>
<!--/*/<th:block th:replace="_fragments :: javaScript">/*/-->
<!--/*/</th:block>/*/-->
</body>
</html>