<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_fragments :: head(~{::title})}">
    <title>关于我</title>
</head>
<body>
<!--导航栏-->
<nav th:replace="~{_fragments :: nav-top(4)}">
</nav>
<!--文本内容-->
<div class="m-container index-padded-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="ui eleven wide column">
                <div class="ui segment">
                    <img src="https://picsum.photos/id/1005/800/600" alt="" class="ui rounded image">

                </div>
            </div>
            <div class="ui five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="index-text">
                        这是 dahanshui 的博客，记录自己IT成长的点滴。
                        我是四川某211大学的大三学生，目前从事的方向的是Java开发,
                        希望通过博客对知识进行沉淀，同时对需要的同学提供帮助，想了解我的更多作品，请点击下方Github...
                    </p>
                    <p>路漫漫其修远兮,吾将上下而求所</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal basic label index-margin-tiny">编程</div>
                    <div class="ui teal basic label index-margin-tiny">健身</div>
                    <div class="ui teal basic label index-margin-tiny">旅游</div>
                    <div class="ui teal basic label index-margin-tiny">唱K</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label index-margin-tiny">Java</div>
                    <div class="ui orange basic left pointing label index-margin-tiny">Mysql</div>
                    <div class="ui orange basic left pointing label index-margin-tiny">Linux</div>
                    <div class="ui orange basic left pointing label index-margin-tiny">Docker</div>
                    <div class="ui orange basic left pointing label index-margin-tiny">JavaScript</div>
                    <div class="ui orange basic left pointing label index-margin-tiny">...</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="http://github.com/dahanshui" target="_blank" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="3129958091"><i class="qq icon"></i></a>
                </div>
                <div class="ui wechat-pic flowing popup transition hidden">
                    <img src="../static/images/wechat2.png" alt="" class="ui rounded image" style="width: 110px">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!--底部-->
<footer class="ui inverted vertical segment index-padded-massive" th:replace="~{_fragments :: footer}">
</footer>
<!--/*/<th:block th:replace="_fragments :: javaScript">/*/-->
<!--/*/</th:block>/*/-->
<script>
    $(function () {
        $(".index-list").click(function () {
            $(".index-item").toggleClass("index-mobile-hide");
        });
        $('.qq').popup();
        $('.wechat').popup({
            popup: $('.wechat-pic'),
            position: 'bottom center',
        });
    });
</script>
</body>
</html>